<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User Signup Form</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="" method="post">
        <fieldset>
            <label for="username">Username</label>
            <input 
                type="text" id="username" name="username" 
                placeholder="username"
                value=<%= username %>
            >
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <input 
                type="password" name="password" id="password"
                value=<%= password %>
            >
        </fieldset>
        <button type="submit">Sign Up</button>
    </form>
    <% if(errors) { %>
        <h2>List of existing errors: </h2>
        <ul>
            <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>
</body>
</html>