<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- using ejs dynamic value -->
    <title>Home page | <%= title %>
    </title>
    <!-- 
        browser wont have access to this file content from fronend, 
        for that we we'll have to use a middleware such as static from express to do so from app.js 
    -->
    <!-- <link rel="stylesheet" href="../../styles-not-added.css"> -->

    <!-- this style file is going to be served from 'public' folder which is specified from express.statc in app.js -->
    <link rel="stylesheet" href="./styles.css">
    <style>
        .create-blog form {
            max-width: 400px;
            margin: 0 auto;
        }

        .create-blog input,
        .create-blog textarea {
            display: block;
            width: 100%;
            margin: 10px 0;
            padding: 8px;
        }

        .create-blog label {
            display: block;
            margin-top: 24px;
        }

        textarea {
            height: 120px;
        }

        .create-blog button {
            margin-top: 20px;
            background: crimson;
            color: white;
            padding: 6px;
            border: 0;
            font-size: 1.2em;
            cursor: pointer;
        }
    </style>
</head>