<html lang="en">

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create blog | <%= title %></title>
</head> -->

<!-- including head from partials -->
<%- include('../partials/head.ejs') %>

<body>

    <!-- including nav from partials -->
    <%- include('../partials/nav.ejs') %>

    <div class="create-blog content">
        <!-- making this form post request ready -->
        <form action="/blogs" method="post">
            <label for="title">log title: </label>
            <input type="text" id="title" required name="title">
            <label for="snippet">Blog snippet: </label>
            <input type="text" id="snippet" name="snippet" required>
            <label for="body">Blog body</label>
            <textarea type="text" id="body" name="body" required></textarea>
            <button>Submit</button>
        </form>
    </div>

    <!-- including footer from partials -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>