<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <h1>Contact us....</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eum voluptatem suscipit maiores autem
        exercitationem consectetur illo alias, ad quas commodi tempore, facilis ratione aut cumque voluptatibus cum
        blanditiis eligendi!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eum voluptatem suscipit maiores autem
        exercitationem consectetur illo alias, ad quas commodi tempore, facilis ratione aut cumque voluptatibus cum
        blanditiis eligendi!</p>
    <textarea name="message" id="message" cols="30" rows="10"></textarea>
    <button type="submit">send now</button>
</body>

</html>